{{#if user}}
    <h2> Posts by <strong>{{ user.username}} </strong> </h2>
    {{#if rows}}
      <table id="myTable">
        <thead>
        <tr><th>Author</th><th>Post Title</th></tr>
      </thead>
      <tbody>
      {{#each rows}}
        <tr>
            <td><a href="/main/user">{{ topic }}</a></td>
        </tr>
      {{/each}}
      </tbody>
    </table> <br><hr>

    {{else}}
      <h3 style="color:red;">No posts</h3>
    {{/if}}
    <a href="/main/newThread">Start a new storm</a><br>
    <a href="/main/hub">Main Hub</a><br><br>
    <a href="/main/logout">Log out</a><br>
    <a href="/main/user">{{ topic }}</a>

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
    $(document).ready(function(){
        $('#myTable').DataTable();
    });
    </script>

  {{else}}
  <h1 style="color:red;">You are not logged in. Please return to login page.</h1>
{{/if}}
